body, html{
    font-family:'Courier New', Courier, monospace;
    background-image: url("./flappybirdbg.png");
    background-size: cover;
    height: 100%;
    margin: 0;
    position: relative;
}



#start, #restart, #logo {
    position: absolute;
}
